<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= celular.nome %>
    </title>
</head>

<body>
    <h1>
        <%= celular.nome %>
    </h1>
    <h3>
        <%= celular.preco %>
    </h3>
    <img src="<%= celular.img %>" alt="<%= celular.nome %> ">

    <a href="/celulares">Voltar</a>
</body>

</html>